* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #0a0c1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  background-color: #1c1938;
  /* border: 1px solid red; */
  border-radius: 10px;
}
.pix {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #60327d;
}
.pixdiv {
  position: relative;
}
.pixdiv,
.overlay {
  opacity: 0.7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content {
  margin: 20px;
  text-align: center;
}
h1 {
  color: #f6f5f9;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
h2 {
  color: #feffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
.unique {
  color: #a462cf;
}
.innertext {
  font-family: "Lexend Deca", sans-serif;
  color: #cac8dd;
  padding: 10px;
  font-weight: 400;
  line-height: 1.5;
}

.text-cover {
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.nametext {
  text-transform: uppercase;
  font-size: 9px;
  padding-top: 5px;
  letter-spacing: 2px;
  /* border: 1px solid red; */
  color: #cac8dd;
  /* font-weight: bold; */
}
@media screen and (min-width: 600px) {
  .card {
    width: 80%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    background-color: #1c1938;
    /* border: 1px solid red; */
    border-radius: 10px;
  }
  .pixdiv {
    flex: 50%;
    order: 1;
  }
  .pix {
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
  }
  .content {
    flex: 50%;
    margin: 30px 70px 10px 50px;
    /* border: 1px solid red; */
  }
  .rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin-right: 60px;
    /* border: 1px solid red; */
    padding-right: 50px;
  }
  h1 {
    color: #f6f5f9;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 20px;
    /* border: 1px solid red; */
  }
  .innertext {
    text-align: left;
    font-weight: 200;
    /* padding-right: 150px; */
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    margin-right: 50px;
    padding-left: 0;
    font-size: 13px;
    padding-right: 70px;
  }
  .pixdiv,
  .overlay {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
  }
  h2 {
    text-align: left;
    color: #feffff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
}
